.App {
  background-color: var(--color-background);
  color: var(--color-foreground);
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.app-body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}