@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

body {
  margin: 0;
  --color-background: #1f2023;
  --color-foreground: #efefef;
  font-family: 'Roboto', sans-serif;
}

button {
  background-color: var(--color-foreground);
  border: 1px;
  border-style: solid;
  border-color: var(--color-background);
}

button.icon-button {
  cursor: pointer;
  padding: 1px;
  min-height: 0px;
  display: flex;
  align-items: center;
  color: var(--color-background);
}

button.icon-button:hover {
  background-color: lightgrey;
}

input {
  color: var(--color-foreground);
  background-color: var(--color-background);
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-foreground);
  padding: 0.2rem;
  text-decoration: none;
  max-width: 3rem;
}

a {
  color: gray
}

@keyframes expand-vertical {
  from {transform: scaleY(0);}
  to {transform: scaleY(1);}
}

.show {
  animation: expand-vertical ease-in-out 0.2s forwards;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: small;
  }
}