.preview-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-width: 20rem;
}

.pagebar {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.prev-container a {
  color: var(--color-foreground);
  text-decoration: none;
  cursor: pointer;
}

.find-more {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;
}

.find-more > a:hover {
  text-decoration: underline;
}

.prev-container .unavailible {
  color: var(--color-background);
  cursor: default;
}