.item {
  cursor: pointer;
  background-size: cover;
  width: 4.5rem;
  height: 4.5rem;
  display: flex;
  align-items: end;
  justify-content: center;
  opacity: 1;
  margin: 2px;
}

.item:hover {
  opacity: 0.9;
}

#selected {
  margin: 0px;
  border: 2px;
  border-style: solid;
}

.item > p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0.1rem;
}