.popup {
  background-color: var(--color-background);
  color: var(--color-foreground);
  padding: 1rem;
  border-style: solid;
  border-radius: 0.25rem;
  width: 20rem;
}
.popup-titlebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup button {
  font-size: 1rem;
  background-color: var(--color-background);
  color: var(--color-foreground);
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  border-color: var(--color-foreground);
}

.popup button:hover {
  background-color: #3d3d3d;
}