.header-flex {
  display: flex;
  justify-content: space-between;
  padding: 0rem 4rem;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: end;
}

nav > a {
  padding: 0.25rem;
  width: 4rem;
  text-align: center;
  border-width: 1px 1px 0px 1px;
  border-style: solid;
  border-color: var(--color-foreground);
  color: var(--color-foreground);
  text-decoration: none;
  height: 1.25rem;
  cursor: pointer;
}

.current {
  background-color: #1E2749;
  height: 1.75rem;
}

hr {
  margin-top: 0px;
}